.cst-button {
    box-shadow: 0 4px 8px 0 rgba(47, 11, 11, 0.7);
    transition: 0.3s;
    background-color: rgb(103, 125, 225);
  }
  
  .cst-button:hover {
    transform: scale(1.02);
  }
  

  .container {
    padding: 2px 16px;
  }